* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

main {
    display: flex;
}

.left-reserve {
    width: 50%;
    height: 100vh;
    padding: 120px 50px;
}

.left-reserve p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.left-reserve h3 {
    margin-bottom: 10px;
}

.left-reserve .table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-reserve .meja {
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-reserve .second .meja,
.fifth .meja {
    width: 100px;
}

.left-reserve .first-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.left-reserve .second-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.left-reserve .third-row {
    display: flex;
    justify-content: space-evenly;
}

.left-reserve .third-row h3 {
    text-align: center;
}

.left-reserve .third-row .meja {
    width: 220px;
}

.right-reserve {
    width: 50%;
    background-color: #bb9f6d;
    height: 100vh;
    padding: 50px 50px;
}

hr.line1 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    height: 5px;
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}

hr.line2 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    height: 5px;
    margin-bottom: 28px;
}

.book-form {
    border: solid 1px #816e4b;
    background-color: white;
    height: 80%;
    padding: 20px 30px;
}

.book-form h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

#formID .first-row,
#formID .second-row,
#formID .third-row,
#formID .fourth-row {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    width: 100%;
}

#formID input[type='date'],
#formID input[type='time'],
#formID select {
    font-family: 'Poppins';
    width: 400px;
    height: 45px;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#formID .first-row img {
    height: 60px;
}

#formID .label {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

#formID input[type='submit'] {
    background-color: #ea4335;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Poppins';
    width: 40%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#formID .inputSubmit {
    display: flex;
    justify-content: center;
}

hr.line3 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    height: 5px;

    margin-top: 28px;
}

hr.line4 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    width: 70%;
    height: 5px;
    margin: auto;
    margin-top: 25px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    display: flex;
}

.close {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 55px;
    transform: rotate(45deg);
    cursor: pointer;
}

.design {
    height: 100%;
    width: 25%;
    background-color: #bb9f6d;
}

.confirmation {
    padding: 30px 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.confirmation p {
    margin-bottom: 30px;
}

.confirmation p,
.a,
.b,
.c,
.d {
    font-size: 25px;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

.left-reserve {
    width: 50%;
    height: 100vh;
    padding: 120px 50px;
}

.left-reserve p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.left-reserve h3 {
    margin-bottom: 10px;
}

.left-reserve .table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-reserve .meja {
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-reserve .second .meja,
.fifth .meja {
    width: 100px;
}

.left-reserve .first-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.left-reserve .second-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.left-reserve .third-row {
    display: flex;
    justify-content: space-evenly;
}

.left-reserve .third-row h3 {
    text-align: center;
}

.left-reserve .third-row .meja {
    width: 220px;
}

.right-reserve {
    width: 50%;
    background-color: #bb9f6d;
    height: 100vh;
    padding: 50px 50px;
}

hr.line1 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    height: 5px;
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}

hr.line2 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    height: 5px;
    margin-bottom: 28px;
}

.book-form {
    border: solid 1px #816e4b;
    background-color: white;
    height: 100%;
    padding: 20px 30px;
}

.book-form h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

#formID .first-row,
#formID .second-row,
#formID .third-row,
#formID .fourth-row {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    width: 100%;
}

#formID input[type='date'],
#formID input[type='time'],
#formID select {
    font-family: 'Poppins';
    width: 400px;
    height: 45px;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#formID .first-row img {
    height: 60px;
}

#formID .label {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

#formID input[type='submit'] {
    background-color: #ea4335;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Poppins';
    width: 40%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#formID .inputSubmit {
    display: flex;
    justify-content: center;
}

hr.line3 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    height: 5px;

    margin-top: 28px;
}

hr.line4 {
    border-radius: 10px;
    border-style: none;
    background-color: #816e4b;
    width: 70%;
    height: 5px;
    margin: auto;
    margin-top: 25px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    display: flex;
}

.close {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 55px;
    transform: rotate(45deg);
    cursor: pointer;
}

.design {
    height: 100%;
    width: 25%;
    background-color: #bb9f6d;
}

.confirmation {
    padding: 30px 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.confirmation p {
    margin-bottom: 30px;
}

.confirmation p,
.a,
.b,
.c,
.d {
    font-size: 25px;
    font-weight: bold;
}